*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7)50%,rgba(0,0,0,0.7)50%), url(img/louie.png);
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    height: auto;
    min-height: 100vh;
}

.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7)50%,rgba(0,0,0,0.7)50%);
}

.icon{
    width: 300px;
    float: left;
    height: 75px;
    margin-left: 20px;
}

.logo{
    color: rgb(184, 55, 55);
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    float:right;
    margin-top: 25px;
}

.menu{
    width: 750px;
    float: left;
    height: 70px;
    padding-left: 200px;
}

ul{
    display: flex;
    float: left;
    justify-content: flex-start;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 14px;
    position: relative;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    display: block;
}

ul li ul.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 5px;
}

ul li ul.dropdown li {
    margin: 0;
    padding: 5px 20px;

}

ul li ul.dropdown li a {
    color: #fff;
    font-size: 14px;
}

ul li:hover > ul.dropdown {
    display: flex;
}


ul li a:hover{
    color: rgb(180, 74, 74);
}

ul li ul.dropdown li a:hover {
    color: rgb(180, 74, 74);
}

.search{
    width: 225px;
    float: left;
    margin-top: 0.3% ;
}

.srch{
    font-family: 'Times New Roman';
    width: 150px;
    height: 40px;
    background: white;
    border: 1px solid rgb(184, 55, 55);
    margin-top: 13px;
    color: rgb(184, 55, 55);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn_search{
    width: 75px;
    height: 40px;
    background: rgb(184, 55, 55);
    border: 2px solid rgb(184, 55, 55);
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn_search:hover{
    color: rgb(255, 190, 190);
}

.btn_search:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content span{
    color: #fc6c6c;
}


.form{
    width: 300px;
    height: 275px;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 40px;
}

.form h2, .boz_qz h2{
    width: 270px;
    font-family: Arial;
    text-align: center;
    color: rgb(184, 55, 55);
    font-size: 23px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form h1, .box_qz h1{
    width: 270px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form p, .box_qz p{
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
}

.form input, .box_qz input{
    width: 270px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(184, 55, 55);
    border-top: none;
    border-right: none;
    border-left: none;
    color: indianred;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: rgb(212, 76, 76);
    font-family: Arial;
}

.btn_home{
    width: 270px;
    height: 40px;
    background: rgb(184, 55, 55);
    border: none;
    margin-top: 40px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btn_home:hover{
    background: #fc6c6c;
    color: #ff0000;
}
.btn_home a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn_qtype {
    width: 270px;
    height: 40px;
    background: #fff;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(184, 55, 55);
    transition: 0.4s ease;
    font-weight: bold;
}

.btn_qtype:hover {
    background: #ff9a9a;
    color: #ff0000;
}

.btn_practice{
    width: 270px;
    height: 40px;
    background: rgb(184, 55, 55);
    border: none;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btn_practice:hover{
    background: #fc6c6c;
    color: #ff0000;
}
.btn_practice a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.box {
    width: 1200px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.box .box_light, .grid_container .inner_container{
    display: inline-block;
    padding: 20px;
    background-color: rgba(255, 246, 246, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    width: auto;
    margin: 10px;
}

.box h1, .grid_container .inner_container h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    padding-top: 20px;
    color: indianred;
    letter-spacing: 2px;
}

.box h2, .grid_container .inner_container h2 {
    font-family: 'Times New Roman';
    font-size: 35px;
    padding: 20px;
    letter-spacing: 2px;
    color: white;
}

.box p, .grid_container .inner_container p{
    font-family: 'Arial';
    font-size: 20px;
    padding: 20px;
    letter-spacing: 2px;
}

.box ol{
    padding-left: 40px;
}

.box ol li{
    font-family: 'Arial';
    font-size: 20px;
    padding: 20px;
    letter-spacing: 2px;
}

.grid_container{
    display: grid;
    background-color: rgba(0,0,0,0.8);
    grid-template-columns: repeat(5, minmax(0, 1fr));
    justify-content: center;
    align-content: start;
    column-gap: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: fit-content;
    max-height: fit-content;
    margin: 10px;
    grid-template-areas:
    "image1 image1 image1 image1"
    "text text text text";
}

.image1 {
    grid-area: image1;
}

.text{
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.grid_container_qz {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px 270px;
    max-width: fit-content;
    max-height: fit-content;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    align-items: start;
}

.box_qz {
    width: 270px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.btn_group{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 300px;
    height: 275px;
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
}

.grid_container .inner_container p{
    font-family: 'Arial';
    font-size: 15px;
    padding: 10px;
    letter-spacing: 1px;
}